body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #EDF7FA;
}

/* HEADER SECTION */

.hero {
  background-image: url(imgs/waves.gif);
  background-size: cover;
  margin-top: 28px;
}

.title {
  text-align: center;
  padding-top: 12%;
  font-size: 450%;
  color: white;
  letter-spacing: 16px;
}

.subtitle {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 14%;
  font-family: 'Metal', cursive;
  font-size: 50%;
  color: white;
  letter-spacing: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(166, 168, 170, 0.32);
  position: fixed;
  top: 0;
  width: 100%;
  float: none;
}

li {
  display: inline-block;
  padding-right: 6%;
  position: relative;
}

li a {
  color: #092A35;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(160, 162, 173, 0.868);
}


/* ABOUT SECTION  */

.content {
  font-family: 'Roboto', sans-serif;
  padding-top: 5%;
  color: #092A35;
}

.about {
  text-shadow: 2px 1px #334c558a;
  display: inline-block;
}

.body {
  text-shadow: none;
  word-spacing: normal;
  font-size: 115%;
}

.bodyContainer {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 15%;
  padding-right: 15%;
  padding-left: 10%;
  padding-bottom: 1%;
}

h2 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 12px;
  border-bottom: solid;
  border-color: #334c558a;
  border-width: 1.75px;
  padding-bottom: 5%;
  margin-left: 18%;
  margin-right: 18%;
}

.headshot {
  height: 350px;
  width: 350px;
}

h5 {
  padding-top: 2%;
}

.logo {
  width: 125px;
  height: 125px;
  display: inline;
}

.col-sm-3 {
  text-align: center;
}

.row {
  column-count: 4;
  text-align: center;
  position: center;
  /* padding: 5%; */
  margin-right: 15%;
  margin-left: 15%;
}

h3 {
  padding-bottom: 3%;
  font-family: 'Roboto', sans-serif;
  font-size: 175%;
  letter-spacing: 12px;
  text-shadow: 2px 1px #334c558a;
  border-bottom: solid;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5%;
  border-width: 2px;
  border-color: #334c558a;
}

.logoSection {
  background-image: linear-gradient(to bottom, #EDF7FA, #badfdbb2, #99cac5d3);
  padding-top: 7%;
  padding-bottom: 5%;
}

.projectSection {
  background-image: linear-gradient(to top, #EDF7FA, #badfdbb2, #99cac5d3);
  padding-top: 7%;
  padding-bottom: 5%;
}

.mySlides {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 5%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 3%;
}

.projectimg {
  height: 100%;
  width: 100%;
  padding-top: 3%;
  justify-content: left;
  align-items: left;
  float: left;
}


.projectDescription {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  float: center;
  height: auto;
  width: 200%;
}

h4 {
  font-size: x-large;
  letter-spacing: 5px;
  text-shadow: 2px 1px #334c558a;
}

/* .carousel {
  background-color: #ddd;
  border: 1px solid black;
  border-radius: 50px;
  margin: 0 20px 20px 20px;
}
 .container{
  position: relative;
  height: 25%;
  width: 40%;
  margin: 0 auto;
}

.carouselTackContainer {
  height: 555px;
  position: relative;
  overflow: hidden;
}

.carouselTrack {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carouselSlide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mySlides {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */
